@media (max-width: 360px){

    .navbar-light .navbar-brand {
        color: #fff!important;
        font-size: 1.8rem;
    }
    .navbar-light .navbar-brand {
        padding-left: 1rem;
    }
    .col-5.transporent-bg {
        width: 20%;
    }    
    .d-flex {
        margin-right: 0rem;
        margin-bottom: 0rem;
        margin-top: 1rem;
    }
.mkk .slow {
    justify-content: center;
    font-size: 1.6rem;
    border-bottom: 1px solid #000;
    border-right: none;
    margin-left: 0rem;
    align-items: center;
}

.d-flex {
       
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
}



.hjhjh .col-5 {
    flex: 0 0 auto;
    width: 19.666667%;
}
.btn .fa-magnifying-glass {
    color: #fff;
    font-size: 1rem;
    padding: 0rem;
}
.about-content .about-start .about-left-1 {
    font-size: 1.3rem;
    margin-left: 2rem;
}
.about-content .about-start .about-left-2 {
    font-size: 2rem;
    margin-left: 2rem;
}
.about-content-right-child{
    margin-left: 2rem;
    margin-right: 2rem;
}
.about-content {
    margin-top: 0rem;
}
.imgBox{
    width: 100%;
    margin-top: 0rem;
}

.about-elementer-right-elementer-img1 img {
    width: 100%;
}
.about-elementer-right-elementer-img2 img {
    margin-top: 2rem;
    width: 100%;
}
.about-elementer-right-34 {
    margin: 2rem 2rem;
}
.about-elementer-right-btn {
    padding-left: 5rem;
}
.slider-section {
    margin: 4rem 0rem;
}
.line-height {
    text-align: start;
    margin-left: 2rem;
}
.line-height-h {
    font-size: 2rem;
}
.col-sm-12.col-md-6.col-lg-5.elementer-property-section-right-col {
    text-align: center;
    margin-top: 3rem;
}
.property-btn a {
    padding: 1rem 5.7rem;
}
section.my-elementer {
    margin: 2rem;
}

.my-h2 {
    font-size: 1.4rem;
}
     }